/* ==============================================================
*
* Variables
*
* ============================================================== */



/* --------------------------------------------
* --Layout
* -------------------------------------------- */


/* --------------------------------------------
* --Colors
* -------------------------------------------- */
$background-paper: #FBFBFB;
$secondary: #333538;
$primary: #E8F4FB;
$secondary-grey-dark: #A0A5AC;


/* --------------------------------------------
* -- Fonts
* -------------------------------------------- */

/* --------------------------------------------
* -- Media queries
* -------------------------------------------- */
