.homepage-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff !important;

  .layer {
    position: absolute;
    object-fit: cover;
    width: 100%;

    &.joshua-hero {
      bottom: -100px;
      
      top: 0;
      left: 0;
      z-index: 1;
      //object-position: calc(50% + 100px);
      object-fit: cover;
    }

    &.rocks {
      bottom: 0; /* pin the container to the bottom */
      z-index: 2;
      height: auto; /* let height grow beyond 40% */
      object-fit: cover; /* fill the width, keep aspect */
      object-position: top; /* align the top of the image → crop bottom */
    }

    &.text-container {
      z-index: 3;
      top: 10rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .intro-p {
        width: 600px;
        margin: 0 auto;
      }

      .scroll {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        span {
          display: inline-block; // ← make the span rotatable
          transform-origin: center; // ← rotate about its center
          transform: rotate(-90deg);
        }
        .mouse {
            margin: 20px auto;
        }
      }
    }
  }
}
